@font-face {
    font-family: OpenSans;
    src: url("fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

body{
    background-color: rgb(230, 230, 230);
    font-family: OpenSans;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

form{
    background-color: white;
    padding: 30px;
    font-size: 12px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

input{
    display: flex;
    flex-flow: column wrap;
    width: 25vw;
}

.heading, .footer{
    padding: 30px;
    width: 75%;
    font-size: 20px;
    font-weight: 600;
}

.container{
    background-color: rgb(242, 241, 243);
    height: 100vh;
    width: 100vw;
    display: flex;
}

.splash{
    width: 45vw;
    text-align: center;
}

.content{
    width: 70vw;
}

.leaf{
    height: 100%;
    width: 100%;
    object-fit: cover;
}